extends layout
block content
  h1= title
  form(id='vehicleForm', action="/resource/vehicle", method="POST")
    div.form-group
      label.vehicleAttr(for='vehicle_type') vehicle_type
      input#vehicle_type(type='text', name='vehicle_type')
    div.form-group
      label.vehicleAttr(for='vehicle_color') vehicle_color
      input#vehicle_color(type='text', name='vehicle_color')
    div.form-group
      label.vehicleAttr(for='vehicle_price') vehicle_price
      input#vehicle_price(type='number',step='any', name='vehicle_price')
    input(type="submit")
  script.
    document.forms['vehicleForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target))
      }).then((resp) => {
        if(resp.ok){
            alert ("Vehicle Created Successfully")
            document.getElementById('vehicleForm').reset()
        }
        else {
            alert (" File to Create vehicle")
        }
      }).then((body) => {
       console.log (body)
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Save failed " + error )
      });
    });